@import url(https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Barlow;
}
.display-1 {
  font-family: 'Barlow', sans-serif;
  font-size: 5.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.64rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.1rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4.96rem;
}
.display-4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Barlow', sans-serif;
  font-size: 2.3rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 3.68rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.32rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.48rem;
    font-size: calc( 1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #5263b8 !important;
}
.bg-success {
  background-color: #f1a631 !important;
}
.bg-info {
  background-color: #fb7522 !important;
}
.bg-warning {
  background-color: #4da92e !important;
}
.bg-danger {
  background-color: #ff4e4e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #5263b8 !important;
  border-color: #5263b8 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #374486 !important;
  border-color: #374486 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #374486 !important;
  border-color: #374486 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #4580c5 !important;
  border-color: #4580c5 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4580c5 !important;
  border-color: #4580c5 !important;
}
.btn-info,
.btn-info:active {
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #cd5104 !important;
  border-color: #cd5104 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #cd5104 !important;
  border-color: #cd5104 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f1a631 !important;
  border-color: #f1a631 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #c87f0e !important;
  border-color: #c87f0e !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #c87f0e !important;
  border-color: #c87f0e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #4da92e !important;
  border-color: #4da92e !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #326d1e !important;
  border-color: #326d1e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff0101 !important;
  border-color: #ff0101 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #303b74;
  color: #303b74;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #5263b8;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #5263b8 !important;
  border-color: #5263b8 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #3974b7;
  color: #3974b7;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #7fa8d7;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #7fa8d7 !important;
  border-color: #7fa8d7 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #b44703;
  color: #b44703;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #fb7522;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #fb7522 !important;
  border-color: #fb7522 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #b0700c;
  color: #b0700c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #f1a631;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f1a631 !important;
  border-color: #f1a631 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #285918;
  color: #285918;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #4da92e;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #4da92e !important;
  border-color: #4da92e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #e70000;
  color: #e70000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #ff4e4e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4e4e !important;
  border-color: #ff4e4e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #000000 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #5263b8 !important;
}
.text-secondary {
  color: #7fa8d7 !important;
}
.text-success {
  color: #f1a631 !important;
}
.text-info {
  color: #fb7522 !important;
}
.text-warning {
  color: #4da92e !important;
}
.text-danger {
  color: #ff4e4e !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #303b74 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #3974b7 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #b0700c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b44703 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #285918 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #e70000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fb7522;
}
.alert-warning {
  background-color: #4da92e;
}
.alert-danger {
  background-color: #ff4e4e;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #5263b8;
  border-color: #5263b8;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #5263b8;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #acb5dd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fef9f0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fff2ea;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #93db7b;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #5263b8;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #5263b8;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #5263b8;
  border-bottom-color: #5263b8;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #5263b8 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #7fa8d7 !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-s01JVpqEpV {
  padding-top: 75px;
  padding-bottom: 75px;
}
.cid-s01JVpqEpV .container-fluid {
  position: relative;
}
.cid-s01JVpqEpV .page-title-content {
  width: 100%;
}
.cid-s01JVpqEpV .page-title-content .mbr-iconfont {
  font-size: 55px;
  height: 55px;
  line-height: 55px;
  width: 55px;
  margin-top: -10px;
  color: #f1a631;
}
.cid-s01JVpqEpV .page-title-content .mbr-iconfont:hover {
  cursor: pointer;
}
@media (max-width: 576px) {
  .cid-s01JVpqEpV .page-title-content {
    text-align: center;
  }
}
.cid-s01JVpqEpV .title {
  letter-spacing: 0.8px;
  margin-top: 24px;
  font-weight: 300;
  margin: 0;
  position: relative;
  word-wrap: break-word;
}
.cid-s01JVpqEpV a {
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.cid-s01JVpqEpV a:not(:first-child) {
  margin-left: 20px;
}
.cid-s01JVpqEpV a:after {
  position: absolute;
  margin-top: 7px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
}
.cid-s01JVpqEpV a::before {
  position: absolute;
  margin-top: 5px;
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  bottom: 7px;
}
.cid-s01JVpqEpV a:hover:after,
.cid-s01JVpqEpV a:focus:after {
  animation-duration: 1s;
  animation-name: slidein;
}
.cid-s01JVpqEpV a:hover:before,
.cid-s01JVpqEpV a:focus:before {
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-name: slideout;
}
.cid-s01JVpqEpV a.text-white:hover,
.cid-s01JVpqEpV a.text-white:focus {
  color: #ffffff !important;
}
.cid-s01JVpqEpV .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
}
.cid-rIyZ6uDDHh .navbar {
  padding: .5rem 0;
  background: #343434;
  transition: none;
  min-height: 75px;
}
.cid-rIyZ6uDDHh .navbar-dropdown.bg-color.transparent.opened {
  background: #343434;
}
.cid-rIyZ6uDDHh a {
  font-style: normal;
}
.cid-rIyZ6uDDHh a .link:hover {
  color: inherit !important;
}
.cid-rIyZ6uDDHh .dropdown-item:active {
  background: #343434;
  line-height: 0.9 !important;
}
.cid-rIyZ6uDDHh .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rIyZ6uDDHh .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px !important;
  margin: 0 8px !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  font-weight: 400 !important;
}
.cid-rIyZ6uDDHh .nav-item:focus,
.cid-rIyZ6uDDHh .nav-link:focus {
  outline: none;
}
.cid-rIyZ6uDDHh .btn {
  padding: 0rem 0.9rem 1px 1.3rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 2.6;
  border-width: 2px;
}
.cid-rIyZ6uDDHh .btn ins {
  text-decoration: none;
}
.cid-rIyZ6uDDHh .btn .mbr-iconfont {
  font-size: 0.9rem;
  padding-left: 15px !important;
  padding-top: 1px;
  margin-right: 4px;
  order: 5;
  transition: all 0s ease-in-out;
}
.cid-rIyZ6uDDHh .menu-logo {
  margin-right: auto;
}
.cid-rIyZ6uDDHh .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  transition: padding .2s;
  min-height: 3rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rIyZ6uDDHh .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rIyZ6uDDHh .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  padding-right: 2rem;
  font-weight: 400 !important;
}
.cid-rIyZ6uDDHh .menu-logo .navbar-brand .navbar-logo {
  font-size: 3rem;
  transition: font-size 0.25s;
}
.cid-rIyZ6uDDHh .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
  color: #ffffff;
}
.cid-rIyZ6uDDHh .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rIyZ6uDDHh .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 1rem;
  width: auto;
  overflow: visible;
}
.cid-rIyZ6uDDHh .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rIyZ6uDDHh .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
  padding-bottom: 10px;
}
.cid-rIyZ6uDDHh .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rIyZ6uDDHh .dropdown .dropdown-menu {
  background: #343434;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
  border-radius: 3px;
}
.cid-rIyZ6uDDHh .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.435em 1.5385em !important;
  line-height: 0.9 !important;
}
.cid-rIyZ6uDDHh .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rIyZ6uDDHh .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rIyZ6uDDHh .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rIyZ6uDDHh .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rIyZ6uDDHh .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rIyZ6uDDHh .navbar.navbar-short .navbar-toggler-right {
  top: 35px;
}
.cid-rIyZ6uDDHh .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rIyZ6uDDHh .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rIyZ6uDDHh .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rIyZ6uDDHh .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rIyZ6uDDHh button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 2.1rem;
  right: 1rem;
}
.cid-rIyZ6uDDHh button.navbar-toggler:focus {
  outline: none;
}
.cid-rIyZ6uDDHh button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rIyZ6uDDHh button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rIyZ6uDDHh button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rIyZ6uDDHh button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rIyZ6uDDHh button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rIyZ6uDDHh nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rIyZ6uDDHh nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rIyZ6uDDHh nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rIyZ6uDDHh nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rIyZ6uDDHh .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rIyZ6uDDHh .collapsed .btn {
  display: -webkit-flex;
}
.cid-rIyZ6uDDHh .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.collapsing,
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rIyZ6uDDHh .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-rIyZ6uDDHh .collapsed button.navbar-toggler {
  display: block;
}
.cid-rIyZ6uDDHh .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rIyZ6uDDHh .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rIyZ6uDDHh .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity, padding, height;
}
.cid-rIyZ6uDDHh .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rIyZ6uDDHh .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rIyZ6uDDHh .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1253px) {
  .cid-rIyZ6uDDHh .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rIyZ6uDDHh img {
    height: 3.8rem !important;
  }
  .cid-rIyZ6uDDHh .btn {
    display: -webkit-flex;
  }
  .cid-rIyZ6uDDHh button.navbar-toggler {
    display: block;
  }
  .cid-rIyZ6uDDHh .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rIyZ6uDDHh .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rIyZ6uDDHh .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rIyZ6uDDHh .navbar-collapse.collapsing,
  .cid-rIyZ6uDDHh .navbar-collapse.show {
    display: block !important;
  }
  .cid-rIyZ6uDDHh .navbar-collapse.collapsing .navbar-nav,
  .cid-rIyZ6uDDHh .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rIyZ6uDDHh .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rIyZ6uDDHh .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rIyZ6uDDHh .navbar-collapse.collapsing .navbar-buttons,
  .cid-rIyZ6uDDHh .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rIyZ6uDDHh .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rIyZ6uDDHh .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rIyZ6uDDHh .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity, padding, height;
  }
  .cid-rIyZ6uDDHh .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rIyZ6uDDHh .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rIyZ6uDDHh .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (max-width: 540px) {
  .cid-rIyZ6uDDHh .navbar-brand {
    padding-top: 1rem;
  }
  .cid-rIyZ6uDDHh .navbar-logo img {
    height: 3rem !important;
  }
  .cid-rIyZ6uDDHh .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
    font-size: 30px !important;
  }
}
@media (min-width: 767px) {
  .cid-rIyZ6uDDHh .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rIyZ6uDDHh .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
  line-height: 0.9;
}
.cid-rIyZ6uDDHh .nav-link,
.cid-rIyZ6uDDHh .dropdown-item {
  position: relative;
}
.cid-rIyZ6uDDHh .nav-link:before,
.cid-rIyZ6uDDHh .dropdown-item:before {
  content: "";
  position: absolute;
  z-index: -2;
  left: 0;
  right: 100%;
  bottom: -0.2em;
  background: #ffffff;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.cid-rIyZ6uDDHh .nav-item .nav-link:hover::before {
  right: 0;
}
.cid-rIyZ6uDDHh .nav-item.open .nav-link::before {
  right: 1.667em;
}
.cid-rIyZ6uDDHh .nav-link:hover {
  color: #ffffff !important;
  border-color: #ffffff;
}
.cid-rIyZ6uDDHh .nav-link:first-child {
  border-color: #ffffff;
}
.cid-rIyZ6uDDHh .display-5 {
  font-size: 2.8rem;
}
.cid-rZyZ1Qzh7S {
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: #ffffff;
}
.cid-rZyZ1Qzh7S .card3 {
  border-bottom: none !important;
  border-left: none !important;
}
.cid-rZyZ1Qzh7S .card4,
.cid-rZyZ1Qzh7S .card5,
.cid-rZyZ1Qzh7S .card6 {
  border-bottom: none !important;
}
.cid-rZyZ1Qzh7S .row {
  padding: 0 1rem;
}
.cid-rZyZ1Qzh7S .row:nth-child(3) .card {
  border-bottom: none;
}
.cid-rZyZ1Qzh7S .row .title {
  max-width: 800px;
}
.cid-rZyZ1Qzh7S .row .subtitle {
  color: #767676;
}
.cid-rZyZ1Qzh7S .row .card {
  padding: 5rem 1rem;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-collapse: collapse;
  box-sizing: border-box;
  border-radius: 0 !important;
  transition: 0.2s all;
}
.cid-rZyZ1Qzh7S .row .card:hover {
  background-color: #ffb600;
}
.cid-rZyZ1Qzh7S .row .card:hover span {
  color: #000000 !important;
}
.cid-rZyZ1Qzh7S .row .card:hover .text-wrap .mbr-black {
  color: #000000 !important;
}
.cid-rZyZ1Qzh7S .row .card:hover .text-wrap {
  color: #000000 !important;
}
.cid-rZyZ1Qzh7S .row .card:hover .text-wrap h6,
.cid-rZyZ1Qzh7S .row .card:hover .text-wrap p,
.cid-rZyZ1Qzh7S .row .card:hover .text-wrap h4 {
  color: #000000 !important;
}
.cid-rZyZ1Qzh7S .row .card:hover .text-wrap .link:before {
  color: #000000 !important;
}
.cid-rZyZ1Qzh7S .row .card:hover .mbr-text {
  color: #000000 !important;
}
.cid-rZyZ1Qzh7S .row .card:first-child {
  border-left: none;
}
.cid-rZyZ1Qzh7S .row .card:last-child {
  border-bottom: none;
}
.cid-rZyZ1Qzh7S .row .card .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-rZyZ1Qzh7S .row .card .card-block .text-wrap {
  padding: 0 1rem;
}
.cid-rZyZ1Qzh7S .row .card .card-block .text-wrap .link {
  position: relative;
  width: fit-content;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-rZyZ1Qzh7S .row .card .card-block .text-wrap .link:before {
  content: "\e966";
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #ffb600;
}
.cid-rZyZ1Qzh7S .row .card .card-block .text-wrap .link:hover:before {
  margin-right: -0.4rem;
}
.cid-rZyZ1Qzh7S .row .card .card-block .photo {
  margin-bottom: 1.62rem;
  overflow: hidden;
  display: inline-block;
}
.cid-rZyZ1Qzh7S .row .card .card-block .photo span {
  font-size: 6rem;
  color: #ffb600;
  fill: #ffb600;
}
.cid-rZyZ1Qzh7S .row .btn {
  padding: 0.6rem 2.1rem 0.65rem 2.1rem !important;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  border-width: 1px;
}
.cid-rZyZ1Qzh7S .row .btn ins {
  text-decoration: none;
}
.cid-rZyZ1Qzh7S .row .btn .mbr-iconfont {
  padding-left: 15px !important;
  padding-top: 1px;
  margin-right: 4px;
  order: 5;
  transition: all 0s ease-in-out;
}
.cid-rZyZ1Qzh7S .row .line {
  background-color: #ffb600;
  color: #ffb600;
  height: 1px;
  margin: 30px auto 20px auto;
}
@media (max-width: 992px) {
  .cid-rZyZ1Qzh7S .row {
    padding: 0 0rem;
  }
  .cid-rZyZ1Qzh7S .row .card {
    padding: 3rem 0rem;
  }
  .cid-rZyZ1Qzh7S .md-pb {
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 576px) {
  .cid-rZyZ1Qzh7S .card {
    border: none !important;
  }
}
.cid-rZyZ1Qzh7S .wrap0 {
  margin-bottom: 120px;
}
.cid-rZzhMeJGnC {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #ffffff;
}
.cid-rZzhMeJGnC .card4,
.cid-rZzhMeJGnC .card5,
.cid-rZzhMeJGnC .card6 {
  border-bottom: none !important;
}
@media (max-width: 2560px) {
  .cid-rZzhMeJGnC .card4 {
    border-left: none !important;
  }
}
@media (max-width: 768px) {
  .cid-rZzhMeJGnC .card3,
  .cid-rZzhMeJGnC .card5 {
    border-left: none !important;
  }
  .cid-rZzhMeJGnC .card4 {
    border-left: 1px solid #ebebeb !important;
    border-bottom: 1px solid #ebebeb !important;
  }
}
.cid-rZzhMeJGnC .row {
  padding: 0 1rem;
}
.cid-rZzhMeJGnC .row:nth-child(3) .card {
  border-bottom: none;
}
.cid-rZzhMeJGnC .row .title {
  max-width: 800px;
}
.cid-rZzhMeJGnC .row .subtitle {
  color: #767676;
}
.cid-rZzhMeJGnC .row .card {
  padding: 5rem 1rem;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-collapse: collapse;
  box-sizing: border-box;
  border-radius: 0 !important;
  transition: 0.2s all;
}
.cid-rZzhMeJGnC .row .card:hover {
  background-color: #ffb600;
}
.cid-rZzhMeJGnC .row .card:hover span {
  color: #000000 !important;
}
.cid-rZzhMeJGnC .row .card:hover .text-wrap .mbr-black {
  color: #000000 !important;
}
.cid-rZzhMeJGnC .row .card:hover .text-wrap {
  color: #000000 !important;
}
.cid-rZzhMeJGnC .row .card:hover .text-wrap h6,
.cid-rZzhMeJGnC .row .card:hover .text-wrap p,
.cid-rZzhMeJGnC .row .card:hover .text-wrap h4 {
  color: #000000 !important;
}
.cid-rZzhMeJGnC .row .card:hover .text-wrap .link:before {
  color: #000000 !important;
}
.cid-rZzhMeJGnC .row .card:hover .mbr-text {
  color: #000000 !important;
}
.cid-rZzhMeJGnC .row .card:first-child {
  border-left: none;
}
.cid-rZzhMeJGnC .row .card:last-child {
  border-bottom: none;
}
.cid-rZzhMeJGnC .row .card .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-rZzhMeJGnC .row .card .card-block .text-wrap {
  padding: 0 1rem;
}
.cid-rZzhMeJGnC .row .card .card-block .text-wrap .link {
  position: relative;
  width: fit-content;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-rZzhMeJGnC .row .card .card-block .text-wrap .link:before {
  content: "\e966";
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #ffb600;
}
.cid-rZzhMeJGnC .row .card .card-block .text-wrap .link:hover:before {
  margin-right: -0.4rem;
}
.cid-rZzhMeJGnC .row .card .card-block .photo {
  margin-bottom: 1.62rem;
  overflow: hidden;
  display: inline-block;
}
.cid-rZzhMeJGnC .row .card .card-block .photo span {
  font-size: 6rem;
  color: #ffb600;
  fill: #ffb600;
}
.cid-rZzhMeJGnC .row .btn {
  padding: 0.6rem 2.1rem 0.65rem 2.1rem !important;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  border-width: 1px;
}
.cid-rZzhMeJGnC .row .btn ins {
  text-decoration: none;
}
.cid-rZzhMeJGnC .row .btn .mbr-iconfont {
  padding-left: 15px !important;
  padding-top: 1px;
  margin-right: 4px;
  order: 5;
  transition: all 0s ease-in-out;
}
.cid-rZzhMeJGnC .row .line {
  background-color: #ffb600;
  color: #ffb600;
  height: 1px;
  margin: 30px auto 20px auto;
}
@media (max-width: 992px) {
  .cid-rZzhMeJGnC .row {
    padding: 0 0rem;
  }
  .cid-rZzhMeJGnC .row .card {
    padding: 3rem 0rem;
  }
  .cid-rZzhMeJGnC .md-pb {
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 576px) {
  .cid-rZzhMeJGnC .card {
    border: none !important;
  }
}
.cid-rZzhMeJGnC .wrap0 {
  margin-bottom: 120px;
}
.cid-rZzkrz2lom {
  padding-top: 0px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rZzkrz2lom .mbr-text {
  color: #121212;
}
.cid-rZzkrz2lom img {
  border-radius: 50%;
}
.cid-rZzkrz2lom .card-number {
  font-size: 150px !important;
  font-weight: 100 !important;
  color: #5263b8;
}
.cid-rZzkrz2lom .card-box .awesome {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}
.cid-rZzkrz2lom .card-box .awesome:after {
  background-color: currentColor;
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  margin-top: 5px;
}
.cid-rZzkrz2lom .card-box .awesome:hover:after,
.cid-rZzkrz2lom .card-box .awesome:focus:after {
  width: 0%;
}
.cid-rZzkrz2lom .upline {
  padding-left: 55px;
  position: relative;
  display: inline-block;
}
.cid-rZzkrz2lom .upline .line {
  background-color: #5263b8;
  height: 2px;
  left: 0;
  margin-top: 1px;
  position: absolute;
  top: 50%;
  width: 34px;
}
@media (max-width: 576px) {
  .cid-rZzkrz2lom .card-box {
    text-align: center;
  }
  .cid-rZzkrz2lom .card-number {
    font-size: 100px !important;
  }
}
@media (max-width: 768px) {
  .cid-rZzkrz2lom .upline {
    padding-left: 0;
  }
  .cid-rZzkrz2lom .upline .line {
    display: none;
  }
  .cid-rZzkrz2lom .awesome {
    text-align: center !important;
  }
}
.cid-rZzkrz2lom .text {
  text-align: center;
}
.cid-s08Yhtyqjl {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #343434;
}
.cid-s08Yhtyqjl .mbr-text {
  color: #ffffff;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-s08Yhtyqjl p {
    text-align: center;
  }
  .cid-s08Yhtyqjl .row {
    justify-content: center;
  }
}
.cid-s01FA2nJHq {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #ffffff;
}
.cid-s01FA2nJHq .card3 {
  border-bottom: none !important;
  border-left: none !important;
}
.cid-s01FA2nJHq .card4,
.cid-s01FA2nJHq .card5,
.cid-s01FA2nJHq .card6 {
  border-bottom: none !important;
}
.cid-s01FA2nJHq .row {
  padding: 0 1rem;
}
.cid-s01FA2nJHq .row:nth-child(3) .card {
  border-bottom: none;
}
.cid-s01FA2nJHq .row .title {
  max-width: 800px;
}
.cid-s01FA2nJHq .row .subtitle {
  color: #767676;
}
.cid-s01FA2nJHq .row .card {
  padding: 5rem 1rem;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-collapse: collapse;
  box-sizing: border-box;
  border-radius: 0 !important;
  transition: 0.2s all;
}
.cid-s01FA2nJHq .row .card:hover {
  background-color: #ffb600;
}
.cid-s01FA2nJHq .row .card:hover span {
  color: #000000 !important;
}
.cid-s01FA2nJHq .row .card:hover .text-wrap .mbr-black {
  color: #000000 !important;
}
.cid-s01FA2nJHq .row .card:hover .text-wrap {
  color: #000000 !important;
}
.cid-s01FA2nJHq .row .card:hover .text-wrap h6,
.cid-s01FA2nJHq .row .card:hover .text-wrap p,
.cid-s01FA2nJHq .row .card:hover .text-wrap h4 {
  color: #000000 !important;
}
.cid-s01FA2nJHq .row .card:hover .text-wrap .link:before {
  color: #000000 !important;
}
.cid-s01FA2nJHq .row .card:hover .mbr-text {
  color: #000000 !important;
}
.cid-s01FA2nJHq .row .card:first-child {
  border-left: none;
}
.cid-s01FA2nJHq .row .card:last-child {
  border-bottom: none;
}
.cid-s01FA2nJHq .row .card .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-s01FA2nJHq .row .card .card-block .text-wrap {
  padding: 0 1rem;
}
.cid-s01FA2nJHq .row .card .card-block .text-wrap .link {
  position: relative;
  width: fit-content;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-s01FA2nJHq .row .card .card-block .text-wrap .link:before {
  content: "\e966";
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #ffb600;
}
.cid-s01FA2nJHq .row .card .card-block .text-wrap .link:hover:before {
  margin-right: -0.4rem;
}
.cid-s01FA2nJHq .row .card .card-block .photo {
  margin-bottom: 1.62rem;
  overflow: hidden;
  display: inline-block;
}
.cid-s01FA2nJHq .row .card .card-block .photo span {
  font-size: 6rem;
  color: #ffb600;
  fill: #ffb600;
}
.cid-s01FA2nJHq .row .btn {
  padding: 0.6rem 2.1rem 0.65rem 2.1rem !important;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  border-width: 1px;
}
.cid-s01FA2nJHq .row .btn ins {
  text-decoration: none;
}
.cid-s01FA2nJHq .row .btn .mbr-iconfont {
  padding-left: 15px !important;
  padding-top: 1px;
  margin-right: 4px;
  order: 5;
  transition: all 0s ease-in-out;
}
.cid-s01FA2nJHq .row .line {
  background-color: #ffb600;
  color: #ffb600;
  height: 1px;
  margin: 30px auto 20px auto;
}
@media (max-width: 992px) {
  .cid-s01FA2nJHq .row {
    padding: 0 0rem;
  }
  .cid-s01FA2nJHq .row .card {
    padding: 3rem 0rem;
  }
  .cid-s01FA2nJHq .md-pb {
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 576px) {
  .cid-s01FA2nJHq .card {
    border: none !important;
  }
}
.cid-s01FA2nJHq .wrap0 {
  margin-bottom: 120px;
}
.cid-rZzkqbRTNZ {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #ffffff;
}
@media (max-width: 2560px) {
  .cid-rZzkqbRTNZ .card5,
  .cid-rZzkqbRTNZ .card6,
  .cid-rZzkqbRTNZ .card7,
  .cid-rZzkqbRTNZ .card8 {
    border-bottom: none !important;
  }
  .cid-rZzkqbRTNZ .card5 {
    border-left: none !important;
  }
}
@media (max-width: 992px) {
  .cid-rZzkqbRTNZ .card4,
  .cid-rZzkqbRTNZ .card7 {
    border-left: none !important;
  }
  .cid-rZzkqbRTNZ .card5,
  .cid-rZzkqbRTNZ .card6 {
    border-bottom: 1px solid #ebebeb !important;
  }
}
@media (max-width: 768px) {
  .cid-rZzkqbRTNZ .card3,
  .cid-rZzkqbRTNZ .card5 {
    border-left: none !important;
  }
  .cid-rZzkqbRTNZ .card4 {
    border-left: 1px solid #ebebeb !important;
  }
}
.cid-rZzkqbRTNZ .row {
  padding: 0 1rem;
}
.cid-rZzkqbRTNZ .row:nth-child(3) .card {
  border-bottom: none;
}
.cid-rZzkqbRTNZ .row .title {
  max-width: 800px;
}
.cid-rZzkqbRTNZ .row .subtitle {
  color: #767676;
}
.cid-rZzkqbRTNZ .row .card {
  padding: 5rem 1rem;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-collapse: collapse;
  box-sizing: border-box;
  border-radius: 0 !important;
  transition: 0.2s all;
}
.cid-rZzkqbRTNZ .row .card:hover {
  background-color: #ffb600;
}
.cid-rZzkqbRTNZ .row .card:hover span {
  color: #000000 !important;
}
.cid-rZzkqbRTNZ .row .card:hover .text-wrap .mbr-black {
  color: #000000 !important;
}
.cid-rZzkqbRTNZ .row .card:hover .text-wrap {
  color: #000000 !important;
}
.cid-rZzkqbRTNZ .row .card:hover .text-wrap h6,
.cid-rZzkqbRTNZ .row .card:hover .text-wrap p,
.cid-rZzkqbRTNZ .row .card:hover .text-wrap h4 {
  color: #000000 !important;
}
.cid-rZzkqbRTNZ .row .card:hover .text-wrap .link:before {
  color: #000000 !important;
}
.cid-rZzkqbRTNZ .row .card:hover .mbr-text {
  color: #000000 !important;
}
.cid-rZzkqbRTNZ .row .card:first-child {
  border-left: none;
}
.cid-rZzkqbRTNZ .row .card:last-child {
  border-bottom: none;
}
.cid-rZzkqbRTNZ .row .card .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-rZzkqbRTNZ .row .card .card-block .text-wrap {
  padding: 0 1rem;
}
.cid-rZzkqbRTNZ .row .card .card-block .text-wrap .link {
  position: relative;
  width: fit-content;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-rZzkqbRTNZ .row .card .card-block .text-wrap .link:before {
  content: "\e966";
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #ffb600;
}
.cid-rZzkqbRTNZ .row .card .card-block .text-wrap .link:hover:before {
  margin-right: -0.4rem;
}
.cid-rZzkqbRTNZ .row .card .card-block .photo {
  margin-bottom: 1.62rem;
  overflow: hidden;
  display: inline-block;
}
.cid-rZzkqbRTNZ .row .card .card-block .photo span {
  font-size: 6rem;
  color: #ffb600;
  fill: #ffb600;
}
.cid-rZzkqbRTNZ .row .btn {
  padding: 0.6rem 2.1rem 0.65rem 2.1rem !important;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  border-width: 1px;
}
.cid-rZzkqbRTNZ .row .btn ins {
  text-decoration: none;
}
.cid-rZzkqbRTNZ .row .btn .mbr-iconfont {
  padding-left: 15px !important;
  padding-top: 1px;
  margin-right: 4px;
  order: 5;
  transition: all 0s ease-in-out;
}
.cid-rZzkqbRTNZ .row .line {
  background-color: #ffb600;
  color: #ffb600;
  height: 1px;
  margin: 30px auto 20px auto;
}
@media (max-width: 992px) {
  .cid-rZzkqbRTNZ .row {
    padding: 0 0rem;
  }
  .cid-rZzkqbRTNZ .row .card {
    padding: 3rem 0rem;
  }
  .cid-rZzkqbRTNZ .md-pb {
    margin-bottom: 2rem !important;
  }
}
@media (max-width: 576px) {
  .cid-rZzkqbRTNZ .card {
    border: none !important;
  }
}
.cid-rZzkqbRTNZ .wrap0 {
  margin-bottom: 120px;
}
